@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(43deg, rgba(39, 145, 182, 1) 0%, rgba(5, 47, 161, 1) 100%);
}

/*.game {*/
/*    background-color: white;*/
/*    border: 2px solid black;*/
/*    width: 600px;*/
/*    height: 600px;*/
/*}*/

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 7px solid black;
  margin: 0 auto;
  width: 700px;
}

.box {
  aspect-ratio: 1/1;
  background: #fff;
  cursor: pointer;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.stats {
  width: 40%;
}

/*#turn {*/
/*    font-size: 2rem;*/
/*    width: fit-content;*/
/*    text-align: center;*/
/*    background: white;*/
/*}*/

.player {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
}

.player h4 {
  margin-bottom: 2rem;
}

.text {
  background: #fff;
  padding: 2rem 5rem;
  text-align: center;
  border-radius: 5px;
}

.text.actual-turn {
  border: 6px solid green;
}
