*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    --s: 222px; /* control the size */
    --c1: #7f727b;
    --c2: #d6b4c2;
    --c3: #baa0ab;

    --_g: var(--c1) 10%,var(--c2) 10.5% 19%,#0000 19.5% 80.5%,var(--c2) 81% 89.5%,var(--c3) 90%;
    --_c: from -90deg at 37.5% 50%,#0000 75%;
    --_l1: linear-gradient(145deg,var(--_g));
    --_l2: linear-gradient( 35deg,var(--_g));
    background:
            var(--_l1), var(--_l1) calc(var(--s)/2) var(--s),
            var(--_l2), var(--_l2) calc(var(--s)/2) var(--s),
            conic-gradient(var(--_c),var(--c1) 0) calc(var(--s)/8) 0,
            conic-gradient(var(--_c),var(--c3) 0) calc(var(--s)/2) 0,
            linear-gradient(90deg,var(--c3) 38%,var(--c1) 0 50%,var(--c3) 0 62%,var(--c1) 0);
    background-size: var(--s) calc(2*var(--s)/3);
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.game{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-row-gap: 2rem;
    place-items: center;
}

.box{
    width: 90px;
    height: 180px;
    cursor: pointer;
}

.card{
    height: 100%;
    position: relative;
    transform: perspective(600px);
    transform-style: preserve-3d;
    background: white;
    transition: all .3s linear;
}

.recto, .verso{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 5px;
    outline: 3px solid lightpink;
}

.recto{
    background: lightpink;
}

.verso{
    background: white;
}
.card i{
    font-size: 3rem;
}

.show{
    transform: perspective(600px) rotateY(180deg);
    background: white;
}

.verso{
    transform: rotateY(-180deg);
    display: none;
}

.show .verso{
    display: flex;
}

.stats{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    align-self: center;
    text-align: center;
    width: 30%;
}

.time, .try, .restart{
    padding: 1rem 0;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 3rem;
    background: white;
    border-radius: 5px;
}

.stats h2{
    font-size: 2rem;
}

.restart button{
    border: none;
    outline: none;
    background: none;
    pointer-events: none;
}

.restart:hover{
    cursor: pointer;
    background: lightpink;
    transition: all .2s;

}

.restart:hover button{
    color: white;
}